#gravity .title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
}
#gravity .text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  max-width: 600px;

  margin: 40px 0;
}
#gravity .alert-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  margin: 0 0 20px 50px;

  @include respond-to('small'){
    font-size: 32px;
    margin: 0 0 10px 0;
  }
}
#gravity .alert-desc{
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 0 50px;
  white-space: nowrap;

  @include respond-to('small'){
    margin: 0;
  }
}
#gravity #displayclicks{
  margin: 0 4px;
}